<h1>Formulario para añadir contacto</h1>
<h5 *ngIf="success">Tu formulario es valido!</h5>

<form [formGroup]="formAddContact" (ngSubmit)="onSubmit()">
  <label>
    Nombre:    
    <input type="text" formControlName="nombre">
    <div *ngIf="submitted && formAddContact.controls.nombre.errors" class="error">
      <div *ngIf="formAddContact.controls.nombre.errors.required">Tu nombre es requerido</div>
    </div>
  </label>

  <label>
    Foto:   
    <input type="text" formControlName="foto">
    <div *ngIf="submitted && formAddContact.controls.foto.errors" class="error">
      <div *ngIf="formAddContact.controls.foto.errors.required">Una foto es requerida</div>
    </div>
  </label>

  <input type="submit" value="Enviar mensaje" class="cta">

</form>
